{% extends 'base_terminos_condiciones.html' %}
{% load static %}
{% block content %}

<div class="wrapper">
  <div class="content-wrapper">
    <div class="content">
      <div class="container">
        <div class="row justify-content-center">
        
          <div class="col-lg-11"> 
            <div class="card">
              <div class="card-body">
                <a href="{% url 'nuevo_usuario' %}" style="font-size: 18px;">
                  <span aria-hidden="true">&larr;</span> Regresar
                </a>
                <section class="content-header">
                  <div class="container-fluid">
                    <div class="row mb-2">
                      <div class="col-sm-6">
                        <h1>Términos y Condiciones</h1>
                      </div>

                    </div>
                  </div>
                </section>
                <div>
                  <p>Bienvenido a la Aplicación Web de Atención de Solicitudes en la Municipalidad de Ferreñafe. Antes
                    de utilizar esta plataforma, lea detenidamente los siguientes términos y condiciones que rigen su
                    uso. Al acceder o utilizar esta aplicación, usted acepta cumplir con estos términos y condiciones.
                    Si no está de acuerdo con alguna parte de estos términos, absténgase de utilizar la aplicación.
                  </p>
                  <p>Última Actualización: 15 - Mayo - 2024</p>
                  <ol>
                    <li>
                      <strong>Uso Aceptable:</strong>
                      <p><span style="font-size: 23px;">•</span>Esta aplicación está destinada únicamente para uso
                        personal y no comercial. Usted acepta
                        utilizarla de manera legal y ética, sin infringir los derechos de terceros ni violar ninguna ley
                        aplicable en el país.
                      </p>
                      <p><span style="font-size: 23px;">•</span> No está permitido utilizar esta aplicación para enviar
                        contenido ilegal,
                        difamatorio, obsceno, amenazante, invasivo de la privacidad de otros, o que viole los derechos
                        de propiedad intelectual de terceros
                      </p>
                    </li>
                    <li>
                      <strong>Registro y Cuenta de Usuario:</strong>

                      <p><span style="font-size: 23px;">•</span>Para acceder a ciertas funcionalidades de la aplicación,
                        puede ser necesario crear una cuenta
                        de usuario. Usted es responsable de mantener la confidencialidad de su cuenta y contraseña, así
                        como de todas las actividades que ocurran bajo su cuenta.
                      </p>

                      <p><span style="font-size: 23px;">•</span>Proporcione información precisa y
                        actualizada al registrarse en la aplicación. La Municipalidad de Ferreñafe no será responsable
                        de ninguna información incorrecta o
                        desactualizada proporcionada por los usuarios.
                      </p>
                    </li>
                    <li>
                      <strong>Solicitudes y Comunicación:</strong>
                      <p><span style="font-size: 23px;">•</span>La aplicación permite a los usuarios enviar solicitudes,
                        quejas o consultas a la Municipalidad
                        de Ferreñafe. Usted acepta proporcionar información veraz y completa al enviar cualquier
                        solicitud.
                      </p>
                      <p><span style="font-size: 23px;">•</span>La Municipalidad de Ferreñafe se reserva el derecho de
                        verificar la información
                        proporcionada y de solicitar información adicional si es necesario para procesar su solicitud de
                        manera adecuada.</p>

                    </li>
                    <li>
                      <strong>Propiedad Intelectual:</strong>
                      <p><span style="font-size: 23px;">•</span>Todos los derechos de propiedad intelectual sobre la
                        aplicación y su contenido, incluidos,
                        entre otros, los derechos de autor, marcas comerciales, diseños y patentes, son propiedad de la
                        Municipalidad de Ferreñafe o de sus licenciantes.
                      </p>
                      <p><span style="font-size: 23px;">•</span> Usted acepta no reproducir, distribuir,
                        modificar, crear trabajos derivados, mostrar públicamente, realizar públicamente, transmitir o
                        explotar de ninguna manera cualquier parte del contenido sin el consentimiento previo por
                        escrito de la Municipalidad de Ferreñafe.
                      </p>
                    </li>
                    <li>
                      <strong>Limitación de Responsabilidad:</strong>
                      <p><span style="font-size: 23px;">•</span>La Municipalidad de Ferreñafe no será responsable de
                        ningún daño directo, indirecto,
                        incidental, especial, consecuente o punitivo que surja del uso o la imposibilidad de uso de la
                        aplicación, incluso si se ha advertido sobre la posibilidad de tales daños.
                      </p>
                      <p><span style="font-size: 23px;">•</span>La Municipalidad de Ferreñafe no garantiza la
                        disponibilidad, precisión, confiabilidad o
                        integridad de ninguna información o contenido proporcionado a través de la aplicación.
                      </p>
                    </li>
                    <li>
                      <strong>Modificaciones y Actualizaciones:</strong>
                      <p><span style="font-size: 23px;">•</span>La Municipalidad de Ferreñafe se reserva el derecho de
                        modificar, suspender o descontinuar
                        cualquier aspecto de la aplicación en cualquier momento, sin previo aviso.
                      </p>
                      <p><span style="font-size: 23px;">•</span>Es su responsabilidad revisar periódicamente estos
                        términos y condiciones para estar al tanto
                        de cualquier cambio. El uso continuado de la aplicación después de la publicación de cambios
                        constituirá su aceptación de dichos cambios.
                      </p>
                    </li>
                    <li>
                      <strong>Privacidad y Protección de Datos:</strong>
                      <p><span style="font-size: 23px;">•</span>La Municipalidad de Ferreñafe se compromete a proteger
                        su privacidad y los datos personales
                        proporcionados a través de la aplicación. Todos los datos recopilados se tratarán de acuerdo con
                        nuestra Política de Privacidad, que puede consultar en la aplicación.
                      </p>
                      <p><span style="font-size: 23px;">•</span>Al utilizar la aplicación, usted acepta el procesamiento
                        de sus datos personales de acuerdo con nuestra Política de Privacidad.
                      </p>
                    </li>
                    <li>
                      <strong>Seguridad de la Información:</strong>
                      <p><span style="font-size: 23px;">•</span>La Municipalidad de Ferreñafe implementa medidas de
                        seguridad razonables para proteger la
                        información contra accesos no autorizados, divulgación, alteración o destrucción.
                      </p>
                      <p><span style="font-size: 23px;">•</span>Sin embargo, debido a la naturaleza inherente de
                        Internet, la Municipalidad de Ferreñafe no puede garantizar la seguridad absoluta de la
                        información transmitida a través de la aplicación.
                      </p>
                    </li>
                    <li>
                      <strong>Enlaces a Terceros:</strong>
                      <p><span style="font-size: 23px;">•</span>La aplicación puede contener enlaces a sitios web de
                        terceros. Estos enlaces se proporcionan
                        únicamente para su conveniencia y no implican ningún respaldo por parte de la Municipalidad de
                        Ferreñafe respecto al contenido de dichos sitios web.
                      </p>
                      <p><span style="font-size: 23px;">•</span>La Municipalidad de Ferreñafe no se hace responsable del
                        contenido, políticas de privacidad o prácticas de seguridad de los sitios web de terceros.
                      </p>
                    </li>
                    <li>
                      <strong>Ley Aplicable y Jurisdicción:</strong>
                      <p><span style="font-size: 23px;">•</span>Cualquier disputa relacionada con estos términos y
                        condiciones estará sujeta
                        a la jurisdicción exclusiva de los tribunales ubicados en la ciudad de Ferreñafe, Lambayeque,
                        Perú.
                      </p>
                      <p><span style="font-size: 23px;">•</span>Cualquier disputa relacionada con estos términos y
                        condiciones estará sujeta
                        a la jurisdicción exclusiva de los tribunales ubicados en la ciudad de Ferreñafe, Lambayeque,
                        Perú.
                      </p>
                    </li>
                    <li>
                      <strong>Comentarios y Sugerencias:</strong>
                      <p><span style="font-size: 23px;">•</span>La Municipalidad de Ferreñafe valora sus comentarios y
                        sugerencias sobre la aplicación. Si tiene alguna pregunta, comentario o sugerencia, no dude en
                        comunicarse con nosotros a través de los canales de contacto proporcionados en la aplicación.
                      </p>
                    </li>
                  </ol>

                  <p> Al aceptar estos términos y condiciones, usted reconoce que ha leído, comprendido y aceptado todas
                    las disposiciones
                    establecidas en este documento. Si no está de acuerdo con alguno de estos términos, absténgase de
                    utilizar la aplicación.
                  </p>

                  <div style="display: flex; justify-content: space-between;">
                    <a  style="font-size: 18px;">
                      <div style="text-align: right;">
                        <a href="{% url 'nuevo_usuario' %}" style="font-size: 18px;">
                          Regresar <span aria-hidden="true">&rarr;</span>
                        </a>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>

      </div>
    </div>

  </div>

  <footer class="main-footer" style="text-align: center;">
    <strong>Copyright &copy; 2024-2026 <a href="">Municipalidad Provincial de
        Ferreñafe</a>.</strong> Todos los derechos reservados.
  </footer>
</div>

{% endblock %}
