{% extends 'base.html' %}
{% block content %}

<section class="content">
    <div class="error-page">
      <h2 class="headline headline text-danger">Error 403 Acceso prohibido</h2>

      <div class="error-content">
        <h3><i class="fas fa-exclamation-triangle headline text-danger"></i> Error 403 - Acceso prohibido</h3>

        <p>
            No tienes permiso para acceder a esta página. Por favor regresa a su pagina anterior
        </p>
      </div>
      <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
  </section>
  {% endblock %}