
.role-container {
    display: inline-block; 
    margin-top: 5px; 
  }
  

  .role-badge {
    background-color: #28a745;
    color: white; 
    padding: 3px 8px; 
    border-radius: 3px; 
    font-size: 12px; 
    margin-left: 5px; 
  }
  